<dom-module id="hello-world">
  <template>
    <style>
      :host {
        display: block;
        border: 2px solid black;
        text-align: center;
        background: #f5f5f5;
        color: #333;
        margin: 20px;
        padding: 20px;
      }
    </style>
    <div>
      <span>{{greeting}} {{person}}!</span>
      <br />
      <button on-click="frenchify">Frenchify!</button>
      <br />
      <button on-click="removeMe">Remove Me!</button>
    </div>
  </template>
  <script>
    Polymer({
      is: 'hello-world',
      properties: {
        person: String,
        greeting: {
          type: String,
          value: 'Hello',
        },
      },
      removeMe: function() {
        this.fire("remove", this.person);
      },
      frenchify: function() {
        this.greeting = 'Bonjour';
      },
    });
  </script>
</dom-module>
