<link rel="import" href="./hello-world.html" />
<link rel="import" href="./add-person.html" />

<dom-module id="hello-world-list">
  <template>
    <add-person on-add="addPerson"></add-person>
    <template is="dom-if" if="{{loading}}">
      <div class="loading">Please wait! Loading...</div>
    </template>
    <template is="dom-repeat" items="{{people}}">
      <hello-world person="{{item}}" on-remove="removePerson"></hello-world>
    </template>
  </template>
  <script>
    import PeopleService from '../services/PeopleService';
    const ITERATIONS = 100;

    Polymer({
      is: 'hello-world-list',
      properties: {
        people: { type: Array, value: [] },
        loading: { type: Boolean, value: true },
        personName: String,
      },
      ready: function() {
        PeopleService.index().then(data => {
          this.people = data;
          this.loading = false;
          this.loadItUp();
        });
      },
      loadItUp: function() {
        let names = [];
        for (let i = 0; i < ITERATIONS; i++) {
          names.push(PeopleService.makeName());
        }
        this.people = names;
      },
      addPerson: function(event, person) {
        this.people = [...this.people, person];
      },
      removePerson: function(event, person) {
        this.people = this.people.filter(p => person !== p);
      },
    });
  </script>
</dom-module>
